<div class="po-wrapper">
  <po-toolbar p-title="Integra&ccedil;&atilde;o - Carol Clock In"></po-toolbar>
  <po-button class="po-md-6" po-icon="po-icon-settings" p-label="Configura&ccedil;&otilde;es" (p-click)="config()"> </po-button>

  <po-page-default>
  
    <p>Carga de Marca&ccedil;&otilde;es</p>

    <po-container>
      
      <p>Dispositivos</p><br><br>

      <po-button class="po-md-4" p-label="Integrar" (p-click)="integrar()" p-type="primary"> </po-button>

      <div class="po-font-text-bold">Teste de groselha</div>

      <po-divider></po-divider>
      
      <po-table
        p-container
        p-height="400"
        p-hide-select-all="true"
        p-hide-text-overflow
        p-selectable
        p-sort="true"
        p-striped="true"
        [p-actions]="actions"
        [p-columns]="columns"
        [p-items]="items"
        [p-max-columns]="6"
        (p-collapsed)="onCollapseDetail()"
        (p-expanded)="onExpandDetail()"
        (p-selected)="sumTotal($event)"
        (p-unselected)="decreaseTotal($event)"
      >
      </po-table>
      
      <po-divider></po-divider>

    </po-container>
  
  </po-page-default>
</div>

<router-outlet></router-outlet>