<div class="po-wrapper">
  <po-toolbar p-title="Integra&ccedil;&atilde;o - Carol Clock In"></po-toolbar>

  <po-page-default>
    <div class="po-pull-right">
      
      <a href="config" p-tooltip="Configurações">
        <!--<span class="po-icon po-icon-settings"></span>-->
        <img class="fixed-background" src="../../../assets/img/engrenagem.png" height="30" width="30">
      </a>
    </div>
    <br><br>

    <po-container>
      <div class="po-font-subtitle"><p>Dispositivos</p></div>

      <po-divider></po-divider>

      
      <po-input class="po-md-6" name="totalDevices" [(ngModel)]="totalDevices" p-label="Total de dispositivos">
      </po-input>

      <po-input class="po-md-6" name="totalMark" [(ngModel)]="totalMark" p-label="Total de marcações">
      </po-input>

       <po-input class="po-md-6" [(ngModel)]="filter" p-placeholder="Busca por nome" p-icon="po-icon po-icon-search" (p-blur)=search($event)></po-input>
       <po-button class="po-md-6  po-sm-12" [p-disabled]="!buttonenable" p-label="Integrar" (p-click)="integrar()" p-type="primary"> </po-button>

      <po-table
        p-container
        p-height="400"
        p-hide-select-all="false"
        p-hide-text-overflow
        p-hide-columns-manager
        p-selectable
        p-sort="true"
        p-striped="true"
        [p-show-more-disabled]="!hasNext"
        [p-columns]="columns"
        [p-items]="items"
        [p-max-columns]="6"
        (p-show-more)="showMoreRegisters()"
        (p-selected)="enablebutton()"
        (p-unselected)="enablebutton()"
        (p-all-selected)="enablebutton()"
        (p-all-unselected)="enablebutton()"
      >
      </po-table>
      
      <po-divider></po-divider>

    </po-container>
  
  </po-page-default>
</div>

<router-outlet></router-outlet>