<div class="po-wrapper">
  <po-toolbar p-title="Integra&ccedil;&atilde;o - Carol Clock In"></po-toolbar>

  <po-page-default>
    <div class="po-pull-right">
      <po-button
        class="po-md-12"
        p-icon="po-icon-settings"
        (p-click)="config()"
      ></po-button>
    </div>
    
    <div class="po-font-text-bold"><p>Carga de Marca&ccedil;&otilde;es</p></div>

    <po-container>
      
      <div class="po-font-text-bold">Dispositivos</div>
      
      <br><br>

      <div class="po-row">
          <po-input class="po-md-6 po-sm-12"
            name="path"
            [(ngModel)]="path">
          </po-input>

          <po-button class="po-md-4  po-sm-12" p-label="Integrar" (p-click)="integrar()" p-type="primary"> </po-button>
      </div>

      <div class="po-row">
        <po-table
          p-container
          p-height="400"
          p-hide-select-all="false"
          p-hide-text-overflow
          p-selectable
          p-sort="true"
          p-striped="true"
          p-show-more-disabled="true"
          [p-columns]="columns"
          [p-items]="items"
          [p-max-columns]="6"
          (p-collapsed)="onCollapseDetail()"
          (p-expanded)="onExpandDetail()"
          (p-selected)="sumTotal($event)"
          (p-unselected)="decreaseTotal($event)"
          (p-show-more)="showMoreRegisters()"
        >
        </po-table>
      </div>
      
      <po-divider></po-divider>

    </po-container>
  
  </po-page-default>
</div>

<router-outlet></router-outlet>